.manage-specialty-container{
    font-family: 'Manrope', sans-serif;
    margin: 0 30px;
    .ms-title{
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
    }
    button{
        width: 100px;
        margin: 0 10px;
    }
    // .btn-add-new-specialty{

    // }
    // .all-specialty{

    // }
    .edit-specialty{
        margin-top: 50px;
        margin-bottom: 100px;
    }
}