.intro-doctor-profile{
    display: flex;
    margin: -50px 0 -30px -30px;
    .content-left{
        width: 20%;
        background: center center no-repeat;
        transform: scale(0.6);
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .content-right{
        margin-top: 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 10x;
        
        .up{
            padding-top: 15px;
            font-size: 20px;
            font-weight: 600;
        }

        .down{
            padding-top: 10px;
        }
    }
}
.price_profile{
    font-size: 15px;
    margin-left: -18px;
}