a{
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}
.section-slide {
    font-family: 'Manrope', sans-serif;
    &.medicalFacility {
        background-color: #eeeeee;
    }

    &.specialty {
        background-color: #fff;
    }

    &.OutSandingDoctor {
        background-color: #fff;
    }

    height: 330px;
    background:#f5f5f5;

    .slide-title {
        width: calc(100% - 1rem);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;

        .text {
            font-size: 25px;
            font-weight: 600;
        }
        a{
            text-decoration: none;
            color: #4c4c4c !important;
        .button {
            background-color: rgb(230, 230, 230);
            color: #4c4c4c;
            padding: 1rem;
            text-align: center;
            font-size: 12px;



            &:hover {
                background-color: #f5fc69;
            }
        }
    }

    }

    .slide-content {
        width: 86rem;
        margin: 0 auto;
        .slick-disabled {
            display: none !important;
        }

        .slide-item {
            height: 200px;
            cursor: pointer;

            .bg-image {
                height: 155px;
                width: calc(100% - 1rem);
                margin: 0 auto;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;


                &.slick-img-doctor {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    margin: 0 auto;
                    margin-bottom: .5rem;
                    margin-top: 10px;
                }
            }
            .name-slide{
                width: calc(100% - 1rem);
                margin: 0 auto;
            }

            .img-doctor-out {
                width: calc(100% - 1.2rem);
                margin: 0 auto;
                border: 1px solid rgb(216, 216, 216);
                margin-right: 10px;
            }

        }
    }
}

.slick-prev {
    position: relative;
    margin-left: 1rem;
    border: 2px solid rgb(211, 211, 211) !important;

}

.slick-next {
    border: 2px solid rgb(205, 204, 204) !important;
    position: relative;
    margin-right: 1rem;
}

.slick-prev,
.slick-next {
    z-index: 10;
    background-color: rgb(255, 255, 255) !important;
    height: 40px !important;
    width: 40px !important;
    background: rgba(0, 0, 0, 0.1) !important;
}

.slick-prev::before {
    font-family: "Font Awesome 5 free" !important;
    content: "\f359" !important;
    color: rgb(152, 152, 152) !important;
    font-size: 25px !important;

}

.slick-next::before {
    color: rgb(152, 152, 152) !important;
    font-family: "Font Awesome 5 free" !important;
    content: "\f35a" !important;
    font-size: 25px !important;
}

.section-about {
    width: 85rem;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    height: 530px;

    .about-left {
        p {
            font-size: 25px;
            font-weight: 600px;
            margin-top: 2rem;
        }
    }

    .about-right {
        p{
            width: 100%;
            // margin-left: 20px;
        }
        margin-top: 5.5rem;
        font-style: italic;

    }
}

.home-footer {
    text-align: center;

    a {
        text-decoration: unset;
    }
}