.manage-patient-body {
    .form-group {
        --bs-gutter-x: 0rem !important;
        width        : 22%;

    }

    .css-2b097c-container {
        .css-yk16xz-control {
            border-radius: 0px !important;
        }
    }
}

.all-infor-schedule {



    table {
        tr {



            .action-click-schedule {
                text-align: center;

                .click-schedule {
                    display        : flex;
                    align-items    : center;
                    vertical-align : middle;
                    height         : 100%;
                    justify-content: space-evenly;


                    .cancel {
                        cursor   : pointer;
                        font-size: 24px;
                        color    : red;
                    }

                    .confirm {
                        cursor   : pointer;
                        font-size: 24px;
                        color    : rgb(10, 158, 32);
                    }

                    .pay {
                        cursor   : pointer;
                        font-size: 24px;
                        color    : rgb(216, 132, 22);


                    }

                    .paied {
                        font-size: 24px;
                        color    : rgb(10, 158, 32);
                    }
                }
            }

            th {
                .form-control {
                    border-radius: 0 !important;
                    padding      : .5rem .325rem;
                    border       : none;

                    &:focus {
                        outline       : 5px solid #ffffff !important;
                        outline-offset: 0px !important;

                    }
                }

                .css-yk16xz-control {
                    border-style: none !important;
                    border-right: none !important;

                    .css-1okebmr-indicatorSeparator {
                        display: none !important;
                    }

                    .css-1uccc91-singleValue {
                        color           : rgb(52, 78, 209) !important;
                        margin          : 0 !important;
                        font-size       : 13px !important;
                        border          : none !important;
                        // border-bottom: 1px solid gray !important;
                    }
                }

            }
        }
    }
}